@using VendingOnlineStore.Models.Bag
@model IEnumerable<BagContentViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailalbeCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.PhotoLink" width="150" height="150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailalbeCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="align-content-end">
                    <button class="btn-primary btn-rounded" onclick="decrease(this)" value="@item.Id">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </td>
                <td class="align-content-center">
                    <div class="text-center">
                        @Html.DisplayFor(modelItem => item.Count)
                    </div>
                </td>
                <td class="align-content-start">
                    <button class="btn-primary btn-rounded" onclick="increase(this)" value="@item.Id">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <button class="btn-danger btn-rounded" onclick="remove(this)" value="@item.Id">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
