@using VendingOnlineStore.Models.Checkout
@using VendingOnlineStore.Models.Bag
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BagSectionViewModel

<hr/>
<div>
    <h2>@Html.DisplayFor(model => model.Address)</h2>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

@{
    await Html.RenderPartialAsync("_BagContents", Model.BagItems);
}

<div class="row">
    <div class="col-sm-10 text-sm-end">
        @Html.DisplayNameFor(model => model.TotalPrice)
    </div>
    <div class="col-sm-1 text-sm-end">
        @Html.DisplayFor(model => model.TotalPrice)
    </div>
    <div class="col-sm-1 text-sm-center">
        <form asp-controller="Checkout" asp-action="Details" method="post">
            <input type="hidden" name="@nameof(CheckoutViewModel.BagSectionId)" value="@Model.Id"/>
            <input type="submit" value="Checkout" class="btn btn-primary"/>
        </form>
    </div>
</div>