@model IEnumerable<VendingOnlineStore.Models.ItemViewModel>

@{
    ViewData["Title"] = "Items";
}

<h1>Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.PhotoLink" width="150" height="150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceTag)
                </td>
                <td>
                    @Html.ActionLink("View machines", "Machines", new { itemId=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
