@using VendingOnlineStore.Models.Order
@model IEnumerable<OrderContentViewModel>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhotoLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var content in Model)
    {
        <tr>
            <td>
                <img src="@content.PhotoLink" width="150" height="150"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => content.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => content.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => content.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => content.Price)
            </td>
        </tr>
    }
    </tbody>
</table>