@using VendingOnlineStore.Models.Order;
@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDateUtc)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.CreationDateUtc)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = order.Id })
            </td>
        </tr>
    }
    </tbody>
</table>